[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/example42/puppet-mysql.git
[submodule "puppet/modules/ruby"]
	path = puppet/modules/ruby
	url = https://github.com/example42/puppet-ruby.git
[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = https://github.com/andrewtarry/puppet-apache.git
[submodule "puppet/modules/git"]
	path = puppet/modules/git
	url = https://github.com/example42/puppet-git.git
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/mongodb"]
	path = puppet/modules/mongodb
	url = https://github.com/puppetlabs/puppetlabs-mongodb.git
[submodule "puppet/modules/wget"]
	path = puppet/modules/wget
	url = https://github.com/maestrodev/puppet-wget.git
