###########################################
#
# Confiuration specific to the application
#
##########################################
application:
    name: tam
    project_root: /home/vagrant/project
    web_root: /home/vagrant/project/web
    cache_dir: /home/vagrant/project/app/cache
    server_name: site.dev
    port: 8000

#######################################
#
# Languages that should be installed
#
######################################
languages:
    #
    # PHP configuration to be installed
    # version: hhvm, 5.5, latest, false - if not false then the zend engine php will still be installed
    #
    # Note - the php version must be a string so '5.5' is ok but 5.5 is not
    #
    php:
        version: '5.5'
        socket: 9123
    #
    # Nodejs version to install
    # version: latest, false
    #
    nodejs:
        version: latest
        coffeescript: false
        less: latest
    java:
        version: latest
    ruby:
        version: false
    r:
        version: false

####################################
#
# Tools and libraries required for the development environment
#
###################################
tools:
    gcc: true
    jsonc: true
    # Compser will install if php is installed
    composer: true
    # PHPMyAdmin will only be install if php is installed
    phpmyadmin: true
    # Grunt will only be installed if nodejs is installed
    grunt: true
    # Bower will only be installed if nodejs is installed
    bower: true
    mysql: true
    mongodb: false
    #
    # Webserver configuration
    #
    webserver:
        # Which http server to install - apache, nginx or false 
        type: nginx
