dir:
  app: '/home/vagrant/app'
  web: '/home/vagrant/app/web'
  cache: '/home/vagrant/cache'
  log: '/home/vagrant/log'

php:
    install: true
    version: '5.5'
    dev: true
    libpcre: true
    start_server: true
    phing: true
    symfony2: false
    pecl_extensions:
       - mongo
    
c_tools:
    gcc: true
    jsonc: false
    re2c: false

git:
    install: false

vim:
    install: true

mysql:
    install: true

nodejs:
    install: true

apache:
    install: true
    docroot: "%{web_dir}"
    hostname: 'site.dev'

jsonc:
    dev: true
    dbg: true

ruby:
    install: false

java:
    install: false
    jenkins: false

mongodb:
    install: true